---
version: '3'

vars:
  APPS_VAR: "apps"
  APPS_HOST: "{{.APPS_VAR}}.{{.GLOBAL_DOMAIN}}"
  APPS_TF_DIR: "{{.TERRAFORM_DIR}}/{{.APPS_VAR}}"
  APPS_TF_STATE: "{{.TERRAFORM_STATE}}/{{.APPS_VAR}}.tfstate"
  APPS_ANSIBLE_PLAYBOOK: "lxc-{{.APPS_VAR}}-provision.yml"

tasks:
  check:
    desc: "Check '{{.APPS_HOST}}' host vars"
    cmds:
      - "echo APPS_HOST={{.APPS_HOST}}"
      - "echo APPS_TF_DIR={{.APPS_TF_DIR}}"
      - "echo APPS_TF_STATE={{.APPS_TF_STATE}}"
      - "echo APPS_ANSIBLE_PLAYBOOK={{.APPS_ANSIBLE_PLAYBOOK}}"

  # ? Terraform
  create-lxc:
    desc: "Create '{{.APPS_HOST}}' host"
    dir: "{{.APPS_TF_DIR}}"
    cmds:
      - terraform init -backend-config="path={{.APPS_TF_STATE}}"
      - terraform fmt && terraform validate
      - terraform apply -lock=false
      - terraform output

  destroy-lxc:
    desc: "Destroy '{{.APPS_HOST}}' host"
    dir: "{{.APPS_TF_DIR}}"
    cmds:
      - terraform destroy -lock=false -compact-warnings

  update-dns:
    desc: "Update DNS records for '{{.APPS_HOST}}' host"
    dir: "{{.APPS_TF_DIR}}"
    cmds:
      - terraform init -backend-config="path={{.APPS_TF_STATE}}"
      - terraform fmt && terraform validate
      - terraform apply -lock=false -compact-warnings -target=module.my_lxc.cloudflare_record.cname_records

  # ? Ansible
  provision:
    desc: "Provision '{{.APPS_HOST}}' via Ansible"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.APPS_ANSIBLE_PLAYBOOK}}"

  provision-traefik:
    desc: "Provision 'Traefik' on '{{.APPS_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.APPS_ANSIBLE_PLAYBOOK}} --tag traefik"

  provision-booklore:
    desc: "Provision 'Booklore' on '{{.APPS_LXC_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.APPS_ANSIBLE_PLAYBOOK}} --tag booklore"

  provision-glance:
    desc: "Provision 'Glance' on '{{.APPS_LXC_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.APPS_ANSIBLE_PLAYBOOK}} --tag glance"

  provision-homepage:
    desc: "Provision 'Homepage' on '{{.APPS_LXC_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.APPS_ANSIBLE_PLAYBOOK}} --tag homepage"

  provision-jotty:
    desc: Provision "Jotty" on '{{.APPS_LXC_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.APPS_ANSIBLE_PLAYBOOK}} --tag jotty"

  provision-mealie:
    desc: "Provision 'Mealie' on '{{.APPS_LXC_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.APPS_ANSIBLE_PLAYBOOK}} --tag mealie"
