---
version: '3'

vars:
  RPI_VAR: "rpi"
  RPI_TF_DIR: "{{.TERRAFORM_DIR}}/{{.RPI_VAR}}"
  RPI_TF_STATE: "{{.TERRAFORM_STATE}}/{{.RPI_VAR}}.tfstate"
  RPI_ANSIBLE_INVENTORY: "inventories/{{.RPI_VAR}}"
  # ? Pre-provisioned RPis
  RPI_LOCAL_ANSIBLE_PLAYBOOK: "{{.RPI_VAR}}-pre-provision.yml"
  # ? Provisioned RPis
  RPI_ANSIBLE_PLAYBOOK: "{{.RPI_VAR}}-provision.yml"

tasks:
  check:
    desc: "Check '{{.RPI_VAR}}' host vars"
    cmds:
      - "echo RPI_TF_DIR={{.RPI_TF_DIR}}"
      - "echo RPI_TF_STATE={{.RPI_TF_STATE}}"
      - "echo RPI_ANSIBLE_INVENTORY={{.RPI_ANSIBLE_INVENTORY}}"
      - "echo RPI_LOCAL_ANSIBLE_PLAYBOOK={{.RPI_LOCAL_ANSIBLE_PLAYBOOK}}"
      - "echo RPI_ANSIBLE_PLAYBOOK={{.RPI_ANSIBLE_PLAYBOOK}}"

  # ? Terraform
  update-dns:
    desc: "Update DNS records for RPi hosts"
    dir: "{{.RPI_TF_DIR}}"
    cmds:
      - terraform init -backend-config="path={{.RPI_TF_STATE}}"
      - terraform fmt && terraform validate
      - terraform apply -lock=false -compact-warnings -target=cloudflare_record.cname_records -target=cloudflare_record.dns_record

  # ? Ansible (pre-provisioned RPis commands)
  list-rpis-local:
    dir: "{{.ANSIBLE_DIR}}"
    desc: List RPis local
    cmds:
      - ansible-playbook -i {{.RPI_ANSIBLE_INVENTORY}} {{.RPI_LOCAL_ANSIBLE_PLAYBOOK}} --list-hosts

  pre-provision-rpis:
    dir: "{{.ANSIBLE_DIR}}"
    desc: Provision RPis
    cmds:
      - ansible-playbook -i {{.RPI_ANSIBLE_INVENTORY}} {{.RPI_LOCAL_ANSIBLE_PLAYBOOK}}

  # ? Ansible
  list-rpis:
    dir: "{{.ANSIBLE_DIR}}"
    desc: List RPis
    cmds:
      - ansible-playbook -i {{.RPI_ANSIBLE_INVENTORY}} {{.RPI_ANSIBLE_PLAYBOOK}} --list-hosts

  provision-rpis:
    dir: "{{.ANSIBLE_DIR}}"
    desc: Provision RPis
    cmds:
      - ansible-playbook -i {{.RPI_ANSIBLE_INVENTORY}} {{.RPI_ANSIBLE_PLAYBOOK}}

  update-rpis:
    dir: "{{.ANSIBLE_DIR}}"
    desc: Update RPis
    cmds:
      - ansible-playbook -i {{.RPI_ANSIBLE_INVENTORY}} {{.RPI_ANSIBLE_PLAYBOOK}}

  provision-traefik:
    desc: "Provision 'Traefik' on RPis"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - ansible-playbook -i {{.RPI_ANSIBLE_INVENTORY}} {{.RPI_ANSIBLE_PLAYBOOK}} --tag traefik

  provision-pulse:
    desc: "Provision 'Pulse' on RPi"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - ansible-playbook -i {{.RPI_ANSIBLE_INVENTORY}} {{.RPI_ANSIBLE_PLAYBOOK}} --tag pulse
