---
version: '3'

vars:
  TOOLS_HOST: "tools.{{.GLOBAL_DOMAIN}}"
  TOOLS_TF_DIR: "{{.TERRAFORM_DIR}}/tools"
  TOOLS_TF_STATE: "{{.TERRAFORM_STATE}}/tools.tfstate"
  TOOLS_ANSIBLE_PLAYBOOK: "lxc-tools-provision.yml"

tasks:
  check:
    desc: "Check '{{.TOOLS_HOST}}' host vars"
    dir: "{{.TOOLS_TF_DIR}}"
    cmds:
      - "echo TOOLS_HOST={{.TOOLS_HOST}}"
      - "echo TOOLS_TF_DIR={{.TOOLS_TF_DIR}}"
      - "echo TOOLS_ANSIBLE_PLAYBOOK={{.TOOLS_ANSIBLE_PLAYBOOK}}"

  # ? Terraform
  create-lxc:
    desc: "Create '{{.TOOLS_HOST}}' host"
    dir: "{{.TOOLS_TF_DIR}}"
    cmds:
      - terraform init -backend-config="path={{.TOOLS_TF_STATE}}"
      - terraform fmt && terraform validate
      - terraform apply -lock=false
      - terraform output

  destroy-lxc:
    desc: "Destroy '{{.TOOLS_HOST}}' host"
    dir: "{{.TOOLS_TF_DIR}}"
    cmds:
      - terraform destroy -lock=false -compact-warnings

  update-dns:
    desc: "Update DNS records for '{{.TOOLS_HOST}}' host"
    dir: "{{.TOOLS_TF_DIR}}"
    cmds:
      - terraform init -backend-config="path={{.TOOLS_TF_STATE}}"
      - terraform fmt && terraform validate
      - terraform apply -lock=false -compact-warnings -target=module.my_lxc.cloudflare_record.cname_records

  # ? Ansible
  provision:
    desc: "Provision '{{.TOOLS_HOST}}' via Ansible"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.TOOLS_ANSIBLE_PLAYBOOK}}"

  provision-traefik:
    desc: "Provision 'Traefik' on '{{.TOOLS_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.TOOLS_ANSIBLE_PLAYBOOK}} --tag traefik"

  provision-atuin:
    desc: "Provision 'Atuin' on '{{.TOOLS_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.TOOLS_ANSIBLE_PLAYBOOK}} --tag atuin"

  provision-dumbpad:
    desc: "Provision 'DumbPad' on '{{.TOOLS_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.TOOLS_ANSIBLE_PLAYBOOK}} --tag dumbpad"

  provision-it-tools:
    desc: "Provision 'IT-Tools' on '{{.TOOLS_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.TOOLS_ANSIBLE_PLAYBOOK}} --tag it_tools"

  provision-networking-toolbox:
    desc: "Provision 'Networking-Toolbox' on '{{.TOOLS_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.TOOLS_ANSIBLE_PLAYBOOK}} --tag networking_toolbox"

  provision-speedtest-tracker:
    desc: Provision "Speedtest Tracker" on '{{.TOOLS_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.TOOLS_ANSIBLE_PLAYBOOK}} --tag speedtest_tracker"

  provision-termix:
    desc: "Provision 'Termix' on '{{.TOOLS_HOST}}'"
    dir: "{{.ANSIBLE_DIR}}"
    cmds:
      - "ansible-playbook -i {{.ANSIBLE_INVENTORY_PROXMOX}} {{.TOOLS_ANSIBLE_PLAYBOOK}} --tag termix"
