#
# 1. Fill in appropriate values below
# 2. Rename file to secrets.auto.tfvars
# 3. Symlink to it from individual terraform template folder
#

# Proxmox
proxmox_api_url  = "MY-SUPER-DUPER-VALUE"
proxmox_user     = "MY-SUPER-DUPER-VALUE"
proxmox_password = "MY-SUPER-DUPER-VALUE"

# Cloudflare
cloudflare_api_token = "MY-SUPER-DUPER-VALUE"
cloudflare_domain    = "MY-SUPER-DUPER-VALUE"

# GitHub
github_username = "MY-SUPER-DUPER-VALUE"
