---
- name: Set dynamic hostname
  ansible.builtin.import_playbook: proxmox-get-hostname.yml
  vars:
    my_host: tools

- name: Tools provisioning
  hosts: "{{ hostvars['localhost']['my_fqdn_host'] }}"
  become: true
  gather_facts: true
  tasks:
    # ? Base OS install + fixings
    - name: Install Ubuntu base
      ansible.builtin.include_role:
        name: base_24
      vars:
        is_lxc: true

    - name: Install modern Unix utilities
      ansible.builtin.include_role:
        name: modern_unix

    # ? Docker daemon + docker compose apps
    - name: Install docker
      ansible.builtin.include_role:
        name: docker

    - name: Install docker_proxy
      ansible.builtin.include_role:
        name: docker_proxy

    - name: Install dozzle
      ansible.builtin.include_role:
        name: dozzle
      vars:
        is_agent: true

    # ? Docker apps
    - name: Install Traefik
      ansible.builtin.include_role:
        name: traefik
      vars:
        hostname_in_uri: true
      tags: traefik

    - name: Install Atuin
      ansible.builtin.include_role:
        name: atuin
      tags: atuin

    - name: Install DumbPad
      ansible.builtin.include_role:
        name: dumbpad
      tags: dumbpad

    - name: Install IT-Tools
      ansible.builtin.include_role:
        name: it_tools
      tags: it_tools

    - name: Install Networking-Toolbox
      ansible.builtin.include_role:
        name: networking_toolbox
      tags: networking_toolbox

    - name: Install Speedtest-Tracker
      ansible.builtin.include_role:
        name: speedtest_tracker
      tags: speedtest_tracker

    - name: Install Termix
      ansible.builtin.include_role:
        name: termix
      tags: termix
