---
- name: Set dynamic hostname
  hosts: localhost
  gather_facts: false
  vars:
    my_host: net
  tasks:
    - name: Set hostname dynamically
      ansible.builtin.set_fact:
        my_fqdn_host: "{{ my_host }}.{{ global_domain }}"
        cacheable: true
      tags:
        - always

- name: Net provisioning
  hosts: "{{ hostvars['localhost']['my_fqdn_host'] }}"
  become: true
  gather_facts: true
  tasks:
    # ? Base OS install + fixings
    - name: Install Ubuntu base
      ansible.builtin.include_role:
        name: base_24
      vars:
        is_lxc: true

    - name: Install modern Unix utilities
      ansible.builtin.include_role:
        name: modern_unix

    # ? Docker daemon + docker compose apps
    - name: Install docker
      ansible.builtin.include_role:
        name: docker

    - name: Install docker_proxy
      ansible.builtin.include_role:
        name: docker_proxy

    - name: Install dozzle
      ansible.builtin.include_role:
        name: dozzle
      vars:
        is_agent: true

    # ? Docker apps
    - name: Install Tailscale
      ansible.builtin.include_role:
        name: tailscale
      vars:
        is_subnet_router: true
        is_dockerized: true
      tags: tailscale

    - name: Install RustDesk
      ansible.builtin.include_role:
        name: rustdesk
      tags: rustdesk

    - name: Install Cloudflare DDNS
      ansible.builtin.include_role:
        name: cloudflare_ddns
      tags: cloudflare_ddns
