---
- name: Proxmox servers provisioning
  hosts: proxmox_nodes
  become: true
  gather_facts: true
  tasks:
    - name: Proxmox node default configuration
      ansible.builtin.include_role:
        name: base_proxmox

    - name: Install modern Unix utilities
      ansible.builtin.include_role:
        name: modern_unix
