---
- name: Build nodes list with FQDN
  hosts: all
  become: true
  gather_facts: true
  tasks:
    - name: Set FQDN for nodes
      ansible.builtin.add_host:
        hostname: "{{ item }}.{{ global_domain }}"
        groups: my_proxmox_nodes
      loop: "{{ groups.proxmox_nodes }}"

    - name: List FQDN nodes
      ansible.builtin.debug:
        msg: "{{ groups.my_proxmox_nodes }}"
