---
services:
  metube:
    image: alexta69/metube:latest
    container_name: metube
    restart: unless-stopped
    networks:
      - traefik_default
    volumes:
      - ./config:/config
      - ./cookies:/cookies
      - /mnt/stash/downloads:/downloads
    ports:
      - "8083:{{ metube_port }}"
    environment:
      DOWNLOAD_DIR: /downloads
      GID: {{ metube_gid}}
      LOGLEVEL: INFO
      MAX_CONCURRENT_DOWNLOADS: 2
      STATE_DIR: /config
      TEMP_DIR: /metube-tmp
      TZ: {{ global_tz }}
      UID: {{ metube_uid}}
      YTDL_OPTIONS: '{"cookiefile":"/cookies/cookies.txt","writesubtitles": "true","subtitlesformat":"srt","extractor_args": {"generic": {"impersonate": [""]}}}'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.metube.entrypoints=http"
      - "traefik.http.routers.metube.rule=Host(`{{ metube_uri }}`)"
      - "traefik.http.middlewares.metube-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.metube.middlewares=metube-https-redirect"
      - "traefik.http.routers.metube-secure.entrypoints=https"
      - "traefik.http.routers.metube-secure.rule=Host(`{{ metube_uri }}`)"
      - "traefik.http.routers.metube-secure.tls=true"
      - "traefik.http.routers.metube-secure.service=metube"
      - "traefik.http.services.metube.loadbalancer.server.port={{ metube_port }}"
      - "traefik.docker.network=traefik_default"

networks:
  traefik_default:
    external: true
